<header class="Header Header--cozy u-sansSerif u-grayBotBorder u-blackBkg">
  <div class="Box u-cf">
    {{#link-to 'index'}}
      <img class="Header-logo" src="http://pixelhandler.com/images/pixelhandler-logo.png">
    {{/link-to}}
    <div class="Header-title u-whiteTxt">
      {{#link-to 'index'}}Pixelhandler{{/link-to}}
    </div>
    <div class="Header-subTitle u-medGrayText">
      Pushin&apos; &amp; pullin&apos; pixels on the web
    </div>
  </div>
</header>

<div class="Blog-body">
  <main class="Blog-content u-blackTxt u-offWhiteBkg">
    <article class="Box">
      {{outlet}}
    </article>
  </main>

  <nav class="Blog-nav u-blackTxt u-grayBkg u-offWhiteLtBorder u-sansSerif">
    {{render "recent" this}}
    {{partial "links"}}
    {{#if isAdmin}}
      {{partial "admin/menu"}}
    {{/if}}
  </nav>
</div>

<footer class="Footer u-sansSerif u-medGrayTxt u-textCenter u-blackBkg u-grayTopBorder">
  <p class="Footer-credits">
    The End. <small>[Personal blog, Copyright @2014 Bill Heaton] |
    {{#unless isAdmin}}
      <span {{action "enableAdmin"}} class="u-grayTxt u-clickable u-enableAdmin">Admin</span>
    {{else}}
      <span {{action "disableAdmin"}} class="u-grayTxt u-clickable u-disableAdmin">Exit Admin</span>
    {{/unless}}
    </small>
  </p>
</footer>
