{{#if isEditing}}
  {{partial 'post/edit'}}
  <button {{action 'doneEditing'}}>Done</button>
{{else}}
  <button {{action 'edit'}}>Edit</button>
{{/if}}

<h1>{{title}}</h1>
<h2>by {{author.name}} <small class='muted'>({{format-date date}})</small></h2>

<hr>

<div class='intro'>
  {{format-markdown excerpt}}
</div>

<div class='below-the-fold'>
  {{format-markdown body}}
</div>
